In [1]:
import spacy
import nltk
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Chris\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
df_orig = pd.read_csv('Datasets/good_badnews_NewsArticles.csv')

In [3]:
df = df_orig.copy()

In [4]:
df.drop('URL', inplace=True, axis=1);
#df.replace([1,2,3], ['good', 'neutral', 'bad'], inplace=True);
df.rename(columns={'Majority Score' : 'Sentiment'}, inplace=True);
df = df.reindex(columns=['Title', 'Sentiment']);

In [9]:
pd.set_option('display.max_colwidth', -1)
df.head(10)

,Title,Sentiment,neg,neu,pos,compound
0,Father and son among five arrested over sick grenfell tower bonfire video,3,0.390,0.610,0.000,-0.7506
1,Ryanair new hand luggage policy rules passenger coat video travel,2,0.000,0.738,0.262,0.4939
2,Derek whyteside 'murdered' by boy with cricket bata stepfather looking for two stolen bikes was murdered by a 16 year old,3,0.297,0.703,0.000,-0.8225
3,Spain bans uk tourists from buying common painkiller,3,0.000,1.000,0.000,0.0000
4,Bill gates puts up $400m for safer sanitation,1,0.000,0.714,0.286,0.4215
5,Eight feared dead marseille building collapses suddenly,3,0.708,0.292,0.000,-0.8658
6,More than 550 uk jobs are at risk after an automobile and industrial firm announced plans to close plants,3,0.104,0.896,0.000,-0.2732
7,Asda morrisons tesco sainsburys announce petrol price cuts 2p litre,1,0.196,0.804,0.000,-0.2960
8,New look closes stores thousand jobs risk,3,0.259,0.741,0.000,-0.2732
9,Samsung galaxy x foldable phone release date new smartphone technology,2,0.000,1.000,0.000,0.0000

In [6]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
df[['neg', 'neu', 'pos', 'compound']] = df['Title'].apply(sid.polarity_scores).apply(pd.Series)

In [7]:
df.head()

,Title,Sentiment,neg,neu,pos,compound
0,Father and son among five arrested over sick g...,3,0.390,0.610,0.000,-0.7506
1,Ryanair new hand luggage policy rules passenge...,2,0.000,0.738,0.262,0.4939
2,Derek whyteside 'murdered' by boy with cricket...,3,0.297,0.703,0.000,-0.8225
3,Spain bans uk tourists from buying common pain...,3,0.000,1.000,0.000,0.0000
4,Bill gates puts up $400m for safer sanitation,1,0.000,0.714,0.286,0.4215

In [7]:
from function import tokenize
transformer = CountVectorizer(tokenizer = tokenize, ngram_range=(1,1))

In [21]:
from sklearn.model_selection import train_test_split
X = df.drop('Sentiment', axis=1)
y = df.Sentiment
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y)

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
classifier = MultinomialNB()

pipe = Pipeline([('vectorizer', bow_vector),
                 ('classifier', classifier)])

In [23]:
pipe.fit(X_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [5, 210]

In [ ]:
from sklearn import metrics
# Predicting with a test dataset
predicted = pipe.predict(X_test)

# Model Accuracy
print("NB:",metrics.accuracy_score(y_test, predicted))