# Datacleaning
Check data, make it usable.

# Imports

In [1]:
import pandas as pd
import numpy as np

## Aggregate observations in one dataset

In [2]:
#from glob import glob
from glob import glob
check_dir = (lambda x: os.path.isdir(x))

In [3]:
import os
t = []
for i in glob('*'):
    if(check_dir(i)):
        t.append(i)

tuples = []
for j in t:
    for i in glob(j + '/*'):
        if(check_dir(i)):
            tuples.append(tuple(i.split('/')))
            
#tuples

In [4]:
for t in tuples:
    print(t)
    
    category = t[0]
    num = t[1]
    path = category + '/' + num

    l = []

    for file in glob(path + '/*'):
        df = pd.read_json(file, lines=True)
        l.append(df)

    # Add all data frames together
    df = pd.concat(l, axis=0, ignore_index=True)
    
    # save into three chunks (else size is too big for github)
    df.to_csv(category + '_' + num + '.csv', index=False)

('financial', '10')
('financial', '07')
('financial', '09')
('financial', '08')
('technology', '10')
('technology', '09')
('entertainment', '10')
('world', '10')
('world', '09')
('sports', '10')
('politics', '10')
('travel', '10')
('travel', '07')
('travel', '09')
('travel', '08')

In [5]:
df.head(2)

,organizations,uuid,thread,author,url,ord_in_thread,title,locations,entities,highlightText,language,persons,text,external_links,published,crawled,highlightTitle
0,[],17626178ee49002c700e4b8708e5838053754d15,"{'social': {'gplus': {'shares': 0}, 'pinterest...",mich@girlracer.me.uk (Michelle Chenery),http://www.incentivetravel.co.uk/news/agency-n...,0,Ashfield Meetings & Events get innovative at T...,[],"{'persons': [], 'locations': [], 'organization...",,english,[],Ashfield Meetings & Events get innovative at T...,[],2015-08-19T18:15:00.000+03:00,2015-08-19T18:23:31.486+03:00,
1,[],dd39c081ad17cb5289e2b7d18668bdf9c76b179a,"{'social': {'gplus': {'shares': 0}, 'pinterest...",,http://www.ttgdigital.com/news/heartbeat-star-...,0,Heartbeat star looks to new goals in travel,[],"{'persons': [], 'locations': [], 'organization...",,english,[],Save \n﻿Finding clients is usually the biggest...,[],2015-08-05T12:16:00.000+03:00,2015-08-05T11:53:24.864+03:00,

In [6]:
df.shape

(12370, 17)

### Save as csv sheet

In [7]:
# save into three chunks (else size is too big for github)
df.to_csv(category + '_' + num + '.csv', index=False)

In [10]:
cats = ['financial', 'entertainment', 'politics', 'sports', 'technology', 'travel', 'world']
for cat in cats:
    print(cat)
    l = []
    for file in glob(cat + '*' + '.csv'):
        df = pd.read_csv(file)
        l.append(df)

    # Add all data frames together
    df = pd.concat(l, axis=0, ignore_index=True)

    # save into three chunks (else size is too big for github)
    df.to_csv(cat + '.csv', index=False)

financial
entertainment
politics
sports
technology
travel
world

In [11]:
!ls

data_cleaning.ipynb  politics             travel.csv
entertainment        politics.csv         travel_07.csv
entertainment.csv    politics_10.csv      travel_08.csv
entertainment_10.csv sports               travel_09.csv
financial            sports.csv           travel_10.csv
financial.csv        sports_10.csv        world
financial_07.csv     technology           world.csv
financial_08.csv     technology.csv       world_09.csv
financial_09.csv     technology_09.csv    world_10.csv
financial_10.csv     technology_10.csv
link                 travel

In [12]:
!mkdir csv_with_nums

In [13]:
!mv *_*.csv csv_with_nums

In [ ]:
mkdir full_categories