In [1]:
# Set path for function import
import sys
sys.path.append('../../Functions')

In [2]:
# Load the data 
import pandas as pd
from datasets import load_stratified_dataset
df_orig = load_stratified_dataset('../dataset_categories/dataset.csv', 'category' ,1, random_seed=47)

In [3]:
df_orig.head()

,organizations,title,locations,text,published,category,site,country,text_length
0,[],17 killed in China restaurant blast,[],17 killed in China restaurant blast By Indo-As...,2015-10-11T13:09:00.000+03:00,raw_data\entertainment,india.com,US,1139
1,[],Indian hospitals warned against turning away d...,[],NEW DELHI - (AP) -- Government officials threa...,2015-09-16T13:13:00.000+03:00,raw_data\world,newsday.com,US,1582
2,[],Rio to host BMX Olympic test event,[],"0 0 0 0 0 Rio De Janeiro, Oct 3 (IANS) The wor...",2015-10-03T03:56:00.000+03:00,raw_data\sports,canindia.com,US,1275
3,[],Grammar Schools,[],[news] 09:01 I would be classed as middle clas...,2015-10-15T15:35:00.000+03:00,raw_data\politics,pistonheads.com,IE,1682
4,[],Latest News : Automotive Testing Technology In...,[],SHOW LIVE: Data acquisition with TEDS support ...,2015-10-20T03:00:00.000+03:00,raw_data\technology,automotivetestingtechnologyinternational.com,GB,1493

In [4]:
# Copy the dataframe
df = df_orig.copy()

In [5]:
# Drop unused columns
df.drop(['organizations', 'locations', 'published', 'category', 'site', 'country', 'text_length'], axis=1, inplace=True)

In [6]:
#df_tok = df.copy()
#df_tok_sent = df.copy()

# Tokenize text
#from Functions.function import tokenize_word
#for i in range(df_tok.shape[0]):
#    df_tok.text[i] = tokenize_word(df_tok.text[i])

#from Functions.function import tokenize_sentence
#for i in range(df_tok.shape[0]):
#    df_tok_sent.text[i] = tokenize_sentence(df_tok_sent.text[i])

# Join list of strings to one string
#df_tok.text = df_tok.text.str.join(' ')
#df_tok_sent.text = df_tok_sent.text.str.join(' ')

In [7]:
# Sentiment Analysis with TextBlob and Vader

# Import libraries
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob

# Vader
sid = SentimentIntensityAnalyzer()
df[['neg', 'neu', 'pos', 'Vader_Score']] = df['text'].apply(sid.polarity_scores).apply(pd.Series)
df.drop(['neg', 'neu', 'pos'], axis=1, inplace=True)

# TextBlob
df[['TextBlob_Score', 'subjectivity']] = df['text'].apply(lambda x:TextBlob(x).sentiment).apply(pd.Series)
df.drop('subjectivity', axis=1, inplace=True)

In [8]:
# Sentiment Analysis with StanfordNLP

from stanford_sentiment import Sentiment_StanfordNLP
Stanford_Score = []
for i in range(df.shape[0]):
    print(i, end='\r')
    try:
        Stanford_Score.append(Sentiment_StanfordNLP(df.text[i]))
    except:
        Stanford_Score.append(None)
df['Stanford_Score'] = pd.DataFrame(Stanford_Score)

In [9]:
# Export
#df.to_csv('dataset_with_sentiment.csv')